# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Distribution / packaging
.eggs/
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Poetry lock file (opcional, se preferir não commitar)
poetry.lock

# .env file
.env
